---
import { Image } from "astro:assets";
import fondo from '../../assets/pics/tony/MG_1417.jpg'
---
<div  id="home" class="bg-black">
    <div>
        <div class="absolute  lg:bottom-20 m-5 p-4 rounded-md bg-slate-800/40 text-white z-20">
              <h1>Tony talleres</h1>
              <p>blablabla</p>
              <div class="flex gap-2">
                <button class="btn-secondary invert white py-2.5">+ info</button>
                <button class="btn-primary hover:invert greenhead p-2.5">Participa!</button>
              </div>
        </div>

        <div class="absolute right-0 bottom-20 m-5 p-4 rounded-md bg-slate-800/40 text-white z-20">
          <h2>superblabla</h2>
        </div>
    </div>

      <div class="mx-2 lg:mx-0 absolute flex flex-col w-full h-full justify-between lg:items-center *:my-2">
        <div class="h-2 w-20 bg-slate-600 z-10"></div>
        <div class="h-2 w-20 bg-slate-500 z-10"></div>
        <div class="h-2 w-20 bg-slate-300 z-10"></div>
        <div class="h-2 w-20 bg-slate-50 z-10"></div>
        <div class="h-2 w-20 bg-slate-50 z-10"></div>
        <div class="h-2 w-20 bg-slate-300 z-10"></div>
        <div class="h-2 w-20 bg-slate-500 z-10"></div>
        <div class="h-2 w-20 bg-slate-600 z-10"></div>
      </div>

      <div class="mx-2 lg:mx-0 absolute flex flex-col w-full h-full justify-between items-end lg:hidden lg:items-center *:my-2">
        <div class="h-2 w-20 bg-slate-600 z-10"></div>
        <div class="h-2 w-20 bg-slate-500 z-10"></div>
        <div class="h-2 w-20 bg-slate-300 z-10"></div>
        <div class="h-2 w-20 bg-slate-50 z-10"></div>
        <div class="h-2 w-20 bg-slate-50 z-10"></div>
        <div class="h-2 w-20 bg-slate-300 z-10"></div>
        <div class="h-2 w-20 bg-slate-500 z-10"></div>
        <div class="h-2 w-20 bg-slate-600 z-10"></div>
      </div>
  

      <div class="binoculares bg-white flex justify-center align-middle">
        <Image src={fondo} alt="" class="blur-[2px]" alt="foto inmobiliaria" >
      </div>
  </div>


  <div class="c-img cc-desktop w-embed h-0">
    <svg>
    <defs>
        <clipPath id="circle-mask">
            <ellipse id="circle1" cx="28.5vw" cy="50vh" rx="21.5vw" ry="21.5vw" />
            <ellipse id="circle2" cx="71.5vw" cy="50vh" rx="21.5vw" ry="21.5vw" />
        </clipPath>
    </defs>
    </svg>
    <svg>
      <defs>
        <clipPath id="lens-mask">
          <ellipse id="circle3" cx="50vw" cy="50vh" rx="250px" ry="250px" />
        </clipPath>
      </defs>
    </svg>
  </div>

</div>

    

    
    <!-- <div
      class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[135px] binoculares bg-white"
    ></div>
      <div class="flex flex-col w-full lg:w-[66.5%]">
        <h1>Navigating the digital landscape for success</h1>
      </div>
      <picture class="row-span-1 md:row-span-3">
        <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
      </picture>
      <div class="w-full lg:w-[66.5%]">
        <p class="my-[35px]">
          Our digital marketing agency helps businesses grow and succeed online
          through a range of services including SEO, PPC, social media marketing,
          and content creation.
        </p>
        <div class="flex gap-5">
          <button class="btn-primary w-full md:w-auto">Regístrate</button>
          <button class="btn-secondary w-full md:w-auto">Infórmate</button>
        </div>
      </div> -->


      


<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
  .binoculares {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    clip-path: url(#lens-mask);
  }
  @media (width >= 64rem) {
    .binoculares {
      clip-path: url(#circle-mask);
    }
  }
</style>
