---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Información especifica de cada taller";
---

<Section id="info-talleres">
  <div class="mt-[100px]">
    <SectionTitle
      sectionTitle="Detalle Talleres"
      description={description}
    />
    <Accordion />
  </div>
</Section>
